<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /company_website/admin/
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  RewriteRule ^([A-Za-z0-9_-]+)/?$ index.php?page=$1 [L,QSA]
</IfModule>
